{% extends "base.html" %}

{% block top_nav_bar_right %}
    <li><a href="/rooms">Rooms</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nickname}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <canvas id='src' width='400' height='400' style='border: 2px solid black'></canvas>
        </div>
        <div class="col-md-6">
            <img id='image' src="" width="400" height="400" style="border: 2px solid black"></img>
        </div>
    </div>
{% endblock %}

{% block onload %}
<script src='/static/js/sketch.js'></script>
<script type="text/javascript">
    function onClose(event) {
        console.log("connection closed");
    }

    function onMessage(event) {
        var data = JSON.parse(event.data);
        if(data["kind"] === "drawing"){
            $('#image').attr("src", data["data"]);
        } else if (data["kind"] === "newConn") {
            var c = new WebSocket("ws://"+data["ip"]+":8000/ws");
            c.onclose = onClose;
            c.onmessage = onMessage;
            connections[data["nickname"]] = {"ip": data["ip"], "conn": c};
        }
    }

    $(function() {
        var me;
        var connections = {};
        var maxPlayers = {{maxPlayers}};
        if(("{{nickname}}" === "")) {
            window.location.href = "/login";
        }
        $('#src').sketch();

        $("#src").on("mouseup", function(e) {
            var data = $('#src').get(0).toDataURL();
            var jsonData = {"kind": "drawing", "nickname": "{{nickname}}", "data": data};
            me.send(JSON.stringify(jsonData));
        });

        $.get("{{dns}}/peers/{{roomID}}", function(data){
            console.log(data);
            if (!window["WebSocket"]) {
                alert("Your browser does not support WebSockets. Ending Game");
                window.location.href = "/logout";
                return;
            }
            for(var i=0; i<data.length; i++){
                if("{{playerIP}}" === data[i][2]){
                    me = new WebSocket("ws://"+data[i][2]+":8000/ws");
                    me.onclose = onClose;
                    me.onmessage = onMessage;
                } else {
                    var c = new WebSocket("ws://"+data[i][2]+":8000/ws");
                    c.onclose = onClose;
                    c.onmessage = onMessage;
                    c.onopen = function(event){
                        var newConnMsg = {"kind": "newConn", "ip": data[i][2], "nickname": data[i][1]};
                        c.send(JSON.stringify(newConnMsg));
                    }
                    connections[data[i][1]] = {"ip": data[i][2], "conn": c};
                }
            }
        }, "json");
    });


</script>
{% endblock %}
