{% extends "base.html" %}

{% block content %}
{{testValue}}
<section class="loginform cf">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
    <u</h3>

        <label for="username"><h3 align="middle">Enter a game nickname</h3></label>
<p align="middle"><input type="text" name="username" placeholder="pictomania Master" required ></p>
<p align="middle"><a href = "http://localhost:8000/login.html"><input type="submit" value="Enter Game"></p>
    </ul>
</form>
</section>

{% endblock %}

