{% extends "base.html" %}

{% block top_nav_bar_right %}
    <li class="active"><a href="/rooms">Rooms</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nickname}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-10">
                    <h4>Available Rooms
                        <button id="roomRefresh" type="button" class="btn btn-default" aria-label="Refresh">
                          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                    </h4>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin-top: 10px;">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <hr/>
             <div id="roomList" class="list-group">

            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Room</h4>
      </div>
      <div class="modal-body">
          <label for="roomname">Room Name</label>
          <input type="text" class="form-control" id="roomname" placeholder="Room Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="create" class="btn btn-primary">Create &amp; Join</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block onload %}
<script type="text/javascript">
    $(function() {
        if(("{{nickname}}" === "")) {
            window.location.href = "/login";
        }

        populateRooms();

        $("#roomRefresh").on("click", populateRooms);

        $("#create").on("click", function(){
            var roomname = $("#roomname").val();
            if (roomname === "") {
                return;
            }
            $.post("{{dns}}/room/new", {"roomname": roomname}, function(data){
                var jsonData = JSON.parse(data)
                window.location.href = "/game/"+ jsonData["roomID"];
            }).fail(function() {
                alert( "Choose different Room Name" );
            });;
        });
    });

    function joinRoom(roomID){
        window.location.href = "/game/"+ roomID;
    }

    function populateRooms() {
        $.get("{{dns}}/rooms", function(data){
            var json = JSON.parse(data);
            var rows = json["values"]
            if (rows == undefined){
                return;
            }
            $("#roomList").html("");
            for(var i=0; i<rows.length; i++) {
                var html = '<button type="button" class="list-group-item roombutton" onclick="joinRoom('+rows[i][0]+')">'+rows[i][1]+'</button>';
                $("#roomList").append(html);
            }
        });
    }
</script>
{% endblock %}
